
<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Formulario Alumno ({{titulo}})</ion-title>
        <ion-buttons slot="end"> 
          <ion-button (click)="tomarFoto()">
            <ion-icon name="camera"></ion-icon>
          </ion-button>
          <ion-button id="present-alert" *ngIf="_alumno._id.length > 1 ">
            <ion-icon  name="trash"></ion-icon>
          </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>

    <form #frm="ngForm" (ngSubmit)="onSubmit(frm)">

        <ion-list>
          <ion-item>
            <ion-input [(ngModel)]="_alumno.nombre_completo" #nombre="ngModel" required
             label="Nombre Completo:" name="nombre"
              placeholder="Nombre completo"></ion-input>
          </ion-item>
          <ion-text *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)" color="danger" >
            <p *ngIf="nombre.errors?.['required'] ">* Nombre completo es requerido</p>
          </ion-text>
          <ion-item>
            <ion-input [(ngModel)]="_alumno.doc_identidad" #identidad="ngModel" required pattern="[0-9]{3,}"
             label="Doc.Identidad" name="identidad" type="number" placeholder="Doc.Identidad"></ion-input>
          </ion-item>
          <ion-text *ngIf="identidad.invalid && (identidad.dirty || identidad.touched)" color="danger" >
            <p *ngIf="identidad.errors?.['required'] ">* Documento de identidad es requerido</p>
            <p *ngIf="identidad.errors?.['pattern'] ">* Documento de identidad mayor a 3 numeros</p>
          </ion-text>
          <ion-item>
            <ion-button type="submit" [disabled]="frm.invalid"
             expand="block" color="success">
              Registrar
            </ion-button>
          </ion-item>
    
        </ion-list>
    
      </form>

      <ion-grid>
        <ion-row>
            <ion-col size="6" sizeMd="3" *ngFor="let photo of photos ">
                <ion-img [src]="photo" ></ion-img>
            </ion-col>
        </ion-row>
      </ion-grid>


    <ion-toast
        [isOpen]="isToastOpen"
        [message]="messageToast"
        [duration]="5000"
        (didDismiss)="setOpen(false)"
    ></ion-toast>

    <ion-alert
  trigger="present-alert"
  header="Confirmacion para eliminar?"
  [buttons]="alertButtons"
  (didDismiss)="setResult($event)"
></ion-alert>
 
</ion-content>

{{ _alumno | json }}