
<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>gallery</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-grid>
        <ion-row>
            <ion-col size="6" sizeMd="3" *ngFor="let photo of photos ">
                <ion-img [src]="photo" ></ion-img>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-fab vertical="bottom" horizontal="center" slot="fixed">
        <ion-fab-button (click)="takePhotos()">
            <ion-icon name="camera"></ion-icon>
        </ion-fab-button>
    </ion-fab>


</ion-content>