<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Registro Alumnos (Reactive Forms)</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <form [formGroup]="alumnoFrm" (ngSubmit)="onSubmit()" >
        <ion-list>
            <ion-item>
                <ion-input label="Nombre completo" formControlName="nombre_completo"></ion-input>
            </ion-item>
            <ion-text *ngIf="f.nombre_completo.invalid && (f.nombre_completo.dirty || f.nombre_completo.touched)" color="danger" >
                <p *ngIf="f.nombre_completo.errors?.['required'] ">* Nombre completo es requerido</p>
            </ion-text>
            <ion-item>
                <ion-input label="Doc.Identidad" formControlName="doc_identidad"></ion-input>
            </ion-item>
            <ion-text *ngIf="f.doc_identidad.invalid && (f.doc_identidad.dirty || f.doc_identidad.touched)" color="danger" >
                <p *ngIf="f.doc_identidad.errors?.['required'] ">* Documento de identidad es requerido</p>
                <p *ngIf="f.doc_identidad.errors?.['pattern'] ">* Documento de identidad mayor a 3 numeros</p>
            </ion-text>
            <ion-item>
                <ion-input label="Email" formControlName="email"></ion-input>
            </ion-item>
            <ion-text *ngIf="f.email.invalid && (f.email.dirty || f.email.touched)" color="danger" >
                <p *ngIf="f.email.errors?.['required'] ">* Email es requerido</p>
                <p *ngIf="f.email.errors?.['email'] ">* Formato Email no es valido</p>
            </ion-text>
            <ion-item>
                <ion-input label="Usuario" formControlName="usuario"></ion-input>
            </ion-item>
            <ion-text *ngIf="f.usuario.invalid && (f.usuario.dirty || f.usuario.touched)" color="danger" >
                <p *ngIf="f.usuario.errors?.['required'] ">* Usuario es requerido</p>
                <p *ngIf="f.usuario.errors?.['pattern'] ">
                    * Usuario debe tener entre 3 y 16 caracteres y solo puede contener letras, numeros,guiones y guiones bajos
                </p>
            </ion-text>
            <ion-item>
                <ion-input label="Password" formControlName="password"></ion-input>
            </ion-item>
            <ion-text *ngIf="f.password.invalid && (f.password.dirty || f.password.touched)" color="danger" >
                <p *ngIf="f.password.errors?.['required'] ">* Password es requerido</p>
                <p *ngIf="f.password.errors?.['pattern'] ">
                    * Password debe tener 8 caracteres,ninusculas, mayusculas,numero y un caracter especial
                </p>
            </ion-text>
            <ion-item>
                <ion-button type="submit" [disabled]="alumnoFrm.invalid"
                 expand="block" color="success">
                  Registrar
                </ion-button>
            </ion-item>
        </ion-list>
    </form>

</ion-content>
