<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>My Cart</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item *ngFor="let product of (myCart$ | async) ">
          <ion-label>{{ product.title }}</ion-label>
          <ion-label class="ion-text-end" >{{ product.price | currency  }}</ion-label>
        </ion-item>
      </ion-list>
</ion-content>
