<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Lista Alumnos</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-list>
        <ion-item *ngFor="let alumno of _alumnosLst">
            <ion-avatar slot="start">
                <img [src]="alumno?.imagen">
            </ion-avatar>
            <ion-label [routerLink]="['/alumnos/alumno-frm',alumno._id]" >{{ alumno.nombre_completo }}</ion-label>
        </ion-item>
    </ion-list>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed" >
        <ion-fab-button [routerLink]="['/alumnos/alumno-frm/1']"  color="danger" type="button">
            <ion-icon name="person-add-outline"></ion-icon>
        </ion-fab-button>
    </ion-fab>

</ion-content>
