

<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Paises</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-list>
        <ion-list-header>
            <ion-searchbar (ionChange)="onBurcar($event)" ></ion-searchbar>
        </ion-list-header>
        <ion-item *ngFor="let pais of paises | filtro:pais_busca ">
            <ion-avatar slot="start">
                <img [src]="pais.flags.png">
            </ion-avatar>
            <ion-label>
                <h2> {{ pais.name.common }} </h2>
                <h3> {{ pais?.capital }} </h3>
                <p> {{ pais.population }} </p>
            </ion-label>
        </ion-item>
    </ion-list>

</ion-content>