<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Registro Alumno (Template Forms)</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form #frm="ngForm" (ngSubmit)="onSubmit(frm)">

    <ion-list>
      <ion-item>
        <ion-input [(ngModel)]="alumno.nombre_completo" #nombre="ngModel" required
         label="Nombre Completo:" name="nombre"
          placeholder="Nombre completo"></ion-input>
      </ion-item>
      <ion-text *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)" color="danger" >
        <p *ngIf="nombre.errors?.['required'] ">* Nombre completo es requerido</p>
      </ion-text>
      <ion-item>
        <ion-input [(ngModel)]="alumno.doc_identidad" #identidad="ngModel" required pattern="[0-9]{3,}"
         label="Doc.Identidad" name="identidad" type="number" placeholder="Doc.Identidad"></ion-input>
      </ion-item>
      <ion-text *ngIf="identidad.invalid && (identidad.dirty || identidad.touched)" color="danger" >
        <p *ngIf="identidad.errors?.['required'] ">* Documento de identidad es requerido</p>
        <p *ngIf="identidad.errors?.['pattern'] ">* Documento de identidad mayor a 3 numeros</p>
      </ion-text>
      <ion-item>
        <ion-input [(ngModel)]="alumno.email" #email="ngModel" required
        pattern="[^ @]*@[^ @]*"
         label="Email" name="email" type="Email" placeholder="Email"></ion-input>
      </ion-item>
      <ion-text *ngIf="email.invalid && (email.dirty || email.touched)" color="danger" >
        <p *ngIf="email.errors?.['required'] ">* Email es requerido</p>
        <p *ngIf="email.errors?.['pattern'] ">* Formato Email no es valido</p>
      </ion-text>
      <ion-item>
        <ion-input [(ngModel)]="alumno.usuario" #usuario="ngModel" required minlength="3"
         label="Usuario" name="usuario" type="text" placeholder="Usuario"></ion-input>
      </ion-item>
      <ion-text *ngIf="usuario.invalid && (usuario.dirty || usuario.touched)" color="danger" >
        <p *ngIf="usuario.errors?.['required'] ">* Usuario es requerido</p>
        <p *ngIf="usuario.errors?.['minlength'] ">* Usuario debe ser mayor a 3 caracteres</p>
      </ion-text>
      <ion-item>
        <ion-input [(ngModel)]="alumno.password" #password="ngModel" required
        pattern="(?=^.{8,}$)(?=.*\d)(?=.*[!@#$%^&*]+)(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$"
         label="Password" name="password" type="text" placeholder="Password"></ion-input>
      </ion-item>
      <ion-text *ngIf="password.invalid && (password.dirty || password.touched)" color="danger" >
        <p *ngIf="password.errors?.['required'] ">* Possword es requerido</p>
        <p *ngIf="password.errors?.['pattern'] ">* Password debe tener 8 caracteres,ninusculas, mayusculas,
           numero y un caracter especial</p>
      </ion-text>
      <ion-item>
        <ion-button type="submit" [disabled]="frm.invalid"
         expand="block" color="success">
          Registrar
        </ion-button>
      </ion-item>

    </ion-list>

  </form>

</ion-content>

{{ alumno | json }}