<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Contador (Redux) </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <h4>Contador : {{ contador$ | async }} </h4>


    <ion-grid>
        <ion-row>
          <ion-col><ion-button (click)="onIncrementar()" >Incrementar</ion-button></ion-col>
          <ion-col><ion-button (click)="onDecrementar()" >Decrementar</ion-button></ion-col>
          <ion-col><ion-button (click)="onInicializar()" >Inicializar</ion-button></ion-col>
        </ion-row>
      </ion-grid>


</ion-content>
