

<ion-content>
    <h4 class="w3-pale-red">estructurales content</h4>

    <div *ngFor="let alumno of alumnos" [ngClass]="{
        'w3-pale-red': alumno.curso == 'Angular',
        'w3-pale-green': alumno.curso == 'Nodejs'
    }">
        <p [ngStyle]="{'color':alumno.curso === 'Angular' ? 'blue' : 'black' }" > {{ alumno.curso}} </p> 
    </div>

    <br>

    <ion-list>
        <ion-item *ngFor="let alumno of alumnos" [ngClass]="{
            'w3-pale-red': alumno.curso == 'Angular',
            'w3-pale-green': alumno.curso == 'Nodejs'
        }">
          <ion-label *ngIf="alumno.curso == 'Angular' " [ngStyle]="{'color':alumno.curso === 'Angular' ? 'blue' : 'black' }">
            {{ alumno.nombre}} {{ alumno.apellido }} - (ANGULAR) 
         </ion-label>
         <ion-label *ngIf="alumno.curso == 'Nodejs';else divOtros "
         [ngStyle]="{'display':alumno.curso === 'Nodejs' ? 'none' : 'block' }" >
            {{ alumno.nombre}} {{ alumno.apellido }} - (NODEJS) 
        </ion-label>
          <ng-template #divOtros>
            <span> no es nodejs </span>
          </ng-template>
        </ion-item>
    </ion-list>


</ion-content>