<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Rick And Morty</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-list>

        <ion-item *ngFor="let character of characters ">
            <ion-avatar slot="start">
                <img [src]="character.image">
            </ion-avatar>
            <ion-label>{{ character.name }}</ion-label>
        </ion-item>
    </ion-list>

</ion-content>
