
<ion-app>
  <ion-menu contentId="main">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu Content</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-list>
        <ion-menu-toggle>
          <ion-item routerLink="/home" routerDirection="root">
            <ion-icon slot="start" name="home"></ion-icon>
            <ion-label>Home</ion-label>
          </ion-item>
          <ion-item routerLink="/gallery" routerDirection="root">
            <ion-icon slot="start" name="image-outline"></ion-icon>
            <ion-label>Gallery</ion-label>
          </ion-item>
          <ion-item routerLink="/template-forms/registro-alumno" routerDirection="root">
            <ion-icon slot="start" name="image-outline"></ion-icon>
            <ion-label>template-forms</ion-label>
          </ion-item>
          <ion-item routerLink="/reactive-forms/registro-alumno" routerDirection="root">
            <ion-icon slot="start" name="image-outline"></ion-icon>
            <ion-label>reactive-forms</ion-label>
          </ion-item>
          <ion-item routerLink="/paises/lista-paises" routerDirection="root">
            <ion-icon slot="start" name="globe-outline"></ion-icon>
            <ion-label>Paises</ion-label>
          </ion-item>
          <ion-item routerLink="/alumnos/alumnos-lst" routerDirection="root">
            <ion-icon slot="start" name="people-circle-outline"></ion-icon>
            <ion-label>Alumnos</ion-label>
          </ion-item>
          <ion-item routerLink="/redux/contador" routerDirection="root">
            <ion-icon slot="start" name="people-circle-outline"></ion-icon>
            <ion-label>Redux Contador</ion-label>
          </ion-item>
          <ion-item routerLink="/reactividad/product-list" routerDirection="root">
            <ion-icon slot="start" name="people-circle-outline"></ion-icon>
            <ion-label>Reactividad</ion-label>
          </ion-item>
          <ion-item routerLink="/rickandmorty/lista" routerDirection="root">
            <ion-icon slot="start" name="people-circle-outline"></ion-icon>
            <ion-label>Rick And Morty</ion-label>
          </ion-item>
          <ion-item routerLink="/about" routerDirection="root">
            <ion-icon slot="start" name="information-circle-outline"></ion-icon>
            <ion-label>About</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>

  <div class="ion-page" id="main">
    <ion-router-outlet></ion-router-outlet>
  </div>

</ion-app>

