
<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Detail</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <h4>contenido del detail</h4>
 
</ion-content>
