

<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>tabs</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-tabs>
        <ion-tab-bar slot="bottom">
          <ion-tab-button tab="Compomentes">
            <ion-icon name="play-circle"></ion-icon>
            Componentes
          </ion-tab-button>
          <ion-tab-button tab="estructurales">
            <ion-icon name="radio"></ion-icon>
            Estructurales
          </ion-tab-button>
          <ion-tab-button tab="Atributos">
            <ion-icon name="library"></ion-icon>
            Atributos
          </ion-tab-button>
        </ion-tab-bar>
      </ion-tabs>

</ion-content>



