<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Product-List</ion-title>
        <ion-buttons slot="end">
            <ion-button routerLink="/reactividad/cart-list">
                <ion-icon name="cart-outline"></ion-icon>
                &nbsp;<ion-badge color="danger">
                    {{ (myCart$ | async)?.length }}
                </ion-badge>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    
    <ion-list>
        <ion-item *ngFor="let product of productList.products">
            <ion-avatar slot="start">
                <img [src]="product.thumbnail">
            </ion-avatar>
            <ion-label>{{ product.title }}</ion-label>
            <ion-label class="ion-text-end" >{{ product.price | currency  }}</ion-label>
            <ion-button slot="end" (click)="onAddToCart(product)" >Add to Cart</ion-button>
        </ion-item>
    </ion-list>

</ion-content>
